/.vscode
bin/
obj/
*.obj
*.pdb
*.ilk
*.o
*.cbp
*.depend
*.layout
*.ico
/aes_dll escapist
/CodeBlocks.lnk
/desktop.ini
/doppel attempts
/doppelganging
/ghosting
/gradproject
/herpaderping
/Microsoft Edge.lnk
/module stopming
/transact hollowing
/Visual Studio Code.lnk