/Visual Studio Code.lnk
/Microsoft Edge.lnk
/CodeBlocks.lnk
/desktop.ini
/.vscode
bin/
obj/
*.obj
*.pdb
*.ilk
*.o
*.cbp
*.depend
*.layout
*.ico
*.exe
/gradproject
/aes_dll escapist
/doppel attempts
/doppelganging
/ghosting
/module stopming
